# Data Science Tools and Ecosystem

In this notebook we will go through some examples of Data Science Tools and Ecosystem.

Here is a list of some popular data science languages

---

1. Python
2. R
3. SQL
4. Julia
5. Scala
6. Java
7. Javascript

Here is a list of some of the commonly used data science Libraries

---

1. NumPy
2. SciPy
3. Pandas
4. Matplotlib
5. Keras
6. PyTorch
7. Scrapy

| Data Science Tools       | 
| ---------------------------- |
| RStudio | 
| TensorFlow | 
| Apache Spark |

In next cell we will learn a simple mathematical operation. If you run the following code, it will give you the result like 2*10 = 2 and so on.

In [3]:
2*10

20

In [4]:
5 + 7

12

We have learnt how to multiply. Now we will add numbers to the result of multiplication. Run below code to get 2*2+2+3=9.

In [5]:
2*2 + 2 + 3

9

Let’s convert minutes to hours – dividing by 60. Run below code to convert 200 minutes to Hours.

In [7]:
200/60

3.3333333333333335

**Here is a list of objectives of this exercise**

---

* To have understanding of data science tools and languages
* To learn the tricks of writing simple codes
* To publish the code in GitHub

## Author
Chittaranjan Swain